// stylesheet :: meet the team styles

    // settings
    $team : 1rem;

    // styles
    .page-template-team {

        // container
        .main-container {

            max-width: none;

            // margin: 0 0 0 0;
            padding: 0 0 0 0;

            // mobile
            @include breakpoint ( 1368px up ) {

                max-width: 80vw;

            }

            // grid
            .main-grid {

                margin: 0 0 0 0;

            }

            // content
            .the_content {

                width: 100%;
                padding: 5rem 5rem 5rem 5rem;

                // mobile
                @include breakpoint ( small only ) {

                    padding: 2rem 2rem 2rem 2rem;

                }

                // header
                .page_header {

                    @include flex-h-j-v-t( false );

                    margin: 0 0 4rem 0;

                    // mobile
                    @include breakpoint ( medium down ) {

                        @include flex-v-t-h-st( false );

                        margin: 0 0 3rem 0;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        margin: 0 0 2rem 0;

                    }

                    // common
                    span {

                        display: block;

                    }

                    // styled
                    .styled_heading {

                        @include font( 'Oswald', 4rem, 500 );

                        @include text( $up );

                        @include typo( 4rem, 0.000em );

                        @include color( $new_blue, 0.000 );

                        // highlight
                        em {

                            @include color( $roarange, 0.000 );

                        }

                    }

                    // text
                    .styled_text {

                        margin: 0 0 0 5rem;

                        @include font( $industry, 1rem, 600 );

                        @include color( $new_blue, 0.000 );

                        // mobile
                        @include breakpoint ( medium down ) {

                            margin: 2rem 0 0 0;

                        }

                        // p
                        p {

                            margin: 0 0 0 0;

                        }

                    }

                }

                // bios
                .page_bios {

                    display: grid;

                    grid-template-columns: calc( 33.3333333% - 1.3333333rem ) calc( 33.3333333% - 1.3333333rem ) calc( 33.3333333% - 1.3333333rem );

                    grid-gap: 2rem;

                    // mobile
                    @include breakpoint ( small only ) {

                        grid-template-columns: calc( 50% - 1rem ) calc( 50% - 1rem );

                    }

                }

                // links
                .bio_link {

                    position: relative;

                    z-index: 0;

                    @include flex-v-b-h-c( false );

                    height: 32rem;

                    // @include fill( red, 0.685 );

                    @include color( white, 0.000 );

                    background: {

                        repeat: no-repeat;
                        size: cover;
                        position: center center;

                    }

                    // mobile
                    @include breakpoint ( xlarge up ) {

                        height: 40rem;

                    }

                    // mobile
                    @include breakpoint ( medium down ) {

                        height: 24rem;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        height: 20rem;

                    }

                    // hover state
                    &:hover {

                        // common
                        &:before,
                        &:after {

                            transition: all 220ms linear 0ms;

                        }

                        // before
                        &:before {

                            opacity: 0.000;

                        }

                        // after
                        &:after {

                            opacity: 1.000;

                        }

                        // picture
                        .bio_picture {

                            filter: grayscale( 0% );

                        }

                        // name tag
                        .tag {

                            // common
                            span {

                                // title
                                &.title {

                                    @include color( lighten( $cvnavy, 7.5% ) );

                                }

                            }

                        }

                    }

                    // picture
                    .bio_picture {

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        z-index: 0;

                        background: {

                            repeat: no-repeat;
                            size: cover;
                            position: center center;

                        }

                        // filter: grayscale( 50% );

                        transition: $all220;

                    }

                    // name tag
                    .tag {

                        position: relative;

                        z-index: 200;

                        padding: 1rem 1rem 1rem 1rem;

                        @include fill( darken( $roarange, 7.5% ), 0.165 );
                        @include fill( $dark, 0.085 );
                        @include fill( transparent );

                        // mobile
                        @include breakpoint ( small only ) {

                            width: 100%;

                        }

                        // common
                        span {

                            position: relative;

                            z-index: 100;

                            display: block;

                            @include text( $up, center );

                            // name
                            &.name {

                                margin: 0 0 0.5rem 0;

                                @include font( 'Oswald', 1rem, 400 );

                                @include typo( 1rem, 0.035em );

                                // mobile
                                @include breakpoint ( small only ) {

                                    @include font( 'Oswald', 0.875rem, 500 );

                                }

                            }

                            // title
                            &.title {

                                @include font( $industry, 0.625rem, 700 );

                                @include text( $up, center );

                                @include typo( 1rem, 0.045em );

                                @include color( $roarange );

                                transition: $all220;

                                // mobile
                                @include breakpoint ( small only ) {

                                    @include font( $industry, 0.625rem, 700 );

                                }

                            }

                        }

                    }

                    // common
                    &:before,
                    &:after {

                        content: '';

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        transition: all 220ms linear 0ms;

                    }

                    // before
                    &:before {

                        z-index: 10;

                        opacity: 1.000;

                        @include gradient(

                            0deg,
                            $cvnavy, 0.000, 0%,
                            transparent, 1.000, 50%

                        );

                    }

                    // after
                    &:after {

                        z-index: 20;

                        opacity: 0.000;

                        // @include fill( $roarange, 0.000 );

                        @include gradient(

                            0deg,
                            $roarange, 0.125, 0%,
                            $cvnavy, 0.465, 100%

                        );

                    }

                }

            }

        }

    }
