// stylesheet :: footer menu elements

    // settings
    $footer : $g140;

    // required
    .required {

        @include flex-h-j-v-c( false );

        height: 5rem;
        padding: 1rem 5rem 1rem 5rem;

        @include font( inherit, 0.75rem, 500 );

        // mobile
        @include breakpoint ( medium down ) {

            @include flex-v-c-h-c( false );

            height: auto;
            padding: 2rem 2rem 2rem 2rem;

        }

        // dark UI
        .dark_ui & {

            @include fill( $g135, 0.000 );
            @include fill( darken( #284F3E, 5% ) );

            // @include shadowbox( -0.5rem, 2rem, black, 0.785 );

            // links
            .link-list {

                // items
                &-item {

                    // after
                    &:after {

                        @include color( white, 0.000 );

                    }

                }

                // link
                .link {

                    @include color( white, 0.000 );

                }

            }

            // copyright
            .copyright {

                @include color( white, 0.000 );

                // mobile
                @include breakpoint ( small only ) {

                    @include color( white, 0.385 );

                }

            }

        }

        // lite UI
        .lite_ui & {

            @include fill( $white, 0.000 );

            // @include shadowbox( -0.5rem, 2rem, black, 0.785 );

            // links
            .link-list {

                // items
                &-item {

                    // after
                    &:after {

                        @include color( $g140, 0.000 );

                    }

                }

                // link
                .link {

                    @include color( $g140, 0.000 );

                }

            }

            // copyright
            .copyright {

                @include color( $g140, 0.000 );

            }

            // legacy
            .legacy {

                // artwork
                svg {

                    // paths
                    path {

                        fill: $g140;
                        fill-opacity: 1.000;

                    }

                }

            }

        }

        // links
        .required-links {

            margin: .5rem 1rem .5rem 0;

            // mobile
            @include breakpoint ( medium down ) {

                margin: 0.5rem 0 0.5rem 0;

                text-align: center;

            }

        }

        // links
        .link-list {

            @include flex-h-c-v-c( false );

            flex-wrap: wrap;

            margin: 0 0 0 0;

            list-style: none;

            // mobile
            @include breakpoint ( small only ) {

                margin: 0 0 1rem 0;

            }

            &-item {

                position: relative;

                margin: 0 0.5rem 0 0;
                padding-right: 0.5rem;

                @include font( $industry, 0.625rem, 700 );

                @include typo( 1.5rem, inherit );

                // mobile
                @include breakpoint ( small only  ) {

                    padding: 0 0 0 0.5rem;

                    // pipes
                    &:before,
                    &:after {

                        @include hide;

                    }

                }

                // after
                &:after {

                    content: '|';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;

                    @include color( white, 0.000 );

                    // mobile
                    @include breakpoint ( small only ) {

                        @include hide;

                    }

                }

                // first child
                &:first-child {

                    // before
                    &:before {

                        // mobile
                        @include breakpoint ( small only ) {

                            // @include hide;

                        }

                    }

                }

                // last child
                &:last-child {

                    // mobile
                    @include breakpoint ( small only ) {

                        // padding: 0 0 0 0;

                    }

                    // before
                    &:before {

                        // mobile
                        @include breakpoint ( small only ) {

                            // @include hide;

                        }

                    }

                    // after
                    &:after {

                        @include hide;

                    }

                }

            }

            // link
            .link {

                text-decoration: none;

                @include typo( 1, 0.065em );

                // @include color( white, 0.000 );

                transition: $all220;

                cursor: pointer;

                &:visited {

                    // @include color( white, 0.000 );

                }

                // hover state
                &:hover,
                &:focus,
                &:active {

                    @include color( $gold );

                    @include fill( white, 1.000 );

                }

            }

        }

        // copyright text
        .copyright {

            margin: 0;

            @include font( $industry, 0.625rem, 700 );

            @include typo( 1, 0.065em );

            // mobile
            @include breakpoint ( small only ) {

                @include text( normal, center );

                @include typo( 1rem, 0.065em );

                @include color( white, 0.385 );

            }

            // line break
            .mobile {

                @include hide;

                // mobile
                @include breakpoint ( small only ) {

                    display: block;

                }

            }

            // dash
            .dash {

                // mobile
                @include breakpoint ( small only ) {

                    @include hide;

                }

            }

        }

        // required logo
        .legacy {

            position: relative;

            width: 16rem;
            height: 2rem;
            margin: .5rem 0 .5rem auto;

            color: white;

            // mobile
            @include breakpoint ( medium down ) {

                margin: 0.5rem 0 0 0;

            }

            // hover
            &:hover {

                svg {

                    path {

                        fill-opacity: 1.000;

                    }

                }

            }

            // artwork
            svg {

                // paths
                path {

                    fill: white;
                    fill-opacity: 1.000;

                    transition: $all220;

                }

            }

        }

    }
