// stylesheet :: site menu styles

    // settings
    $menu : 1rem;

    // styles
    #site_menu {

        top: 5rem;

        z-index: 100;

        // @include flex-v-c-h-c( false );

        height: calc( 100vh - 5rem );
        padding: 2rem 2rem 2rem 2rem;

        box-shadow: none;

        @include fill( $midnite, 0.125 );

        @include gradient(

            180deg,
            transparent, 1.000, 0%,
            // white, 0.765, 100%
            $g140, 0.385, 100%

        );

        // mobile
        @include breakpoint ( small only ) {

            top: 4rem;

            height: calc( 100vh - 4rem );

        }

        // header
        .site_menu_header {

            margin: 0 0 1rem 0;

            // @include fill( red );

            @include font( $industry, 0.6875rem, 700 );

            @include text( $up );

            @include typo( 0.5rem, 0.125em );

            @include color( $gold, 0.000 );

        }

        // container
        .site_menu_container {

            // menu
            .menu {

                // item
                li {

                    margin: 0 0 1rem 0;

                    // current item
                    &.current-menu-item {

                        // link
                        a {

                            @include fill( transparent );

                        }

                    }

                    // link
                    a {

                        @include flex-h-s-v-c( false );

                        height: 2rem;
                        padding: 0 0 0 0;

                        // @include fill( red, 0.565 );

                        @include font( $industry, 0.875rem, 600 );

                        @include typo( 0.5625rem, 0.065em );

                        @include color( white, 0.235 );

                        transition: all 220ms $outex 0ms;

                        // hover state
                        &:hover {

                            padding: 0 0 0 0.5rem;

                            @include color( $roarange );

                        }

                    }

                }

            }

        }

        // newsletter
        .newsletter_signup {

            position: absolute;

            right: 0;
            bottom: 0;
            left: 0;

            z-index: 10;

            padding: 2rem 2rem 2rem 2rem;

        }

        // form
        #newsletter_signup_form {

            // position: relative;

            // fields
            .form_fields {

                // position: relative;

                @include flex-h-j-v-c( false );

                height: 3rem;

                // wrapper
                .input_wrap {

                    position: relative;

                    width: 100%;

                }

                // common
                input {

                    border: none;

                }

                // label
                label {

                    position: absolute;

                    top: 0;
                    bottom: 0;
                    left: 0;

                    z-index: 100;

                    width: 3rem;
                    height: 3rem;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;

                    overflow: hidden;

                    text-indent: -999rem;

                    // after
                    &:after {

                        @include codicon( 3rem, 3rem, 1rem, 1rem, $gold, '\EA2F' );

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        z-index: 10;

                        text-indent: 0;

                    }

                }

                // text
                input[ type='email' ] {

                    height: 3rem;
                    margin: 0;
                    padding: 0 0 0 3rem;

                    @include font( $industry, 0.75rem, 600 );

                    @include color( white );

                    @include fill( $midnite, 0.765 );

                }

                // placeholder
                ::placeholder {

                    // @include font( $industry, 0.75rem, 600 );

                    @include color( white, 0.485 );

                }

                // submit
                input[ type='submit' ] {

                    height: 3rem;
                    margin: 0 0 0 0;
                    padding: 0.0625rem 1rem 0 1rem;

                    @include font( $industry, 0.6875rem, 600 );

                    @include typo( 0.6875rem, 0.035em );

                    @include color( white );

                    @include fill( $g140 );

                    transition: $all220;

                    // hover state
                    &:hover {

                        @include fill( darken( $roarange, 7.5% ) );

                        cursor: pointer;

                    }

                }

            }

        }

    }
