// stylesheet :: base body settings

    // settings
    $body : 1rem;

    // styles
    body {

        position: relative;

        // @include font( $industry, inherit, 500 );

        padding: 5rem 0 0 0;

        font-weight: 500;

        // mobile
        @include breakpoint ( small only ) {

            padding: 4rem 0 0 0;

        }

        // logged in
        &.logged-ins,
        &.admin-bar {

            padding: 7rem 0 0 0;

        }

    }
