// stylesheet :: blog/homepage post styles

    // settings
    $post : 1rem;

    // container
    .main-container {

        // body class
        .author & {

            @include flex-v-t-h-c( false );

            max-width: none;
            padding: 0 0 0 0;

            // grid
            .main-grid {

                // @include flex-v-t-h-c( false );
                display: block;

                margin: 0 0 0 0;

            }

            // author bio
            .author_bio_content {

                width: 100vw;
                padding: 5rem 5rem 5rem 5rem;

                // mobile
                @include breakpoint ( large down ) {

                    padding: 3rem 3rem 3rem 3rem;

                }

                // mobile
                @include breakpoint ( small only  ) {

                    padding: 2rem 2rem 2rem 2rem;

                }

                // grid
                .author_bio_grid {

                    @include flex-h-j-v-s( false );

                    margin: 0 0 5rem 0;

                    // mobile
                    @include breakpoint ( small only ) {

                        @include flex-v-t-h-s( false );

                    }

                    // has posts
                    &.populated {

                        margin: 0 0 5rem 0;

                    }

                    // empty
                    &.empty {

                        margin: 0 0 0 0;

                    }

                    // image
                    .author_bio_image {

                        width: 50%;
                        height: 60vh;

                        background: {

                            repeat: no-repeat;
                            size: cover;
                            position: center top;

                        }

                        // @include shadowbox( 1rem, 3.5rem, black, 0.465 );

                        // mobile
                        @include breakpoint ( large down ) {

                            height: 75vh;

                        }

                        // mobile
                        @include breakpoint ( small only ) {

                            width: 100%;

                        }

                    }

                    // content
                    .author_bio {

                        @include flex-v-j-h-st( false );

                        width: 50%;
                        padding: 0 0 0 3rem;

                        @include color( $new_blue );

                        // mobile
                        @include breakpoint ( small only ) {

                            width: 100%;
                            padding: 0 0 0 0;

                        }

                        // container
                        .entry_container {

                            @include flex-h-j-v-s( false );

                            flex-wrap: wrap;

                            margin: 0 0 0 0;

                            // entry
                            .bio_entry {

                                width: 50%;
                                margin: 0 0 1rem 0;

                            }

                        }

                        // entry
                        .bio_entry {

                            // hometown + education
                            &.hometown,
                            &.education {

                                @include hide;

                            }

                            // email
                            &.email {

                                margin: 1rem 0 0 0;

                            }

                        }

                        // label
                        .entry_label {

                            display: block;

                            margin: 0 0 0.5rem 0;

                            @include font( 'Oswald', 1.25rem, 500 );

                            @include text( $up );

                            @include typo( 1rem, 0.000em );

                            @include color( $roarange, 0.000 );

                        }

                        // text
                        .entry_text {

                            display: block;

                            @include font( $industry, 0.875rem, 600 );

                        }

                    }

                }

                // heading
                h1 {

                    margin: 0 0 3rem 0;
                    padding: 2rem 0 0 0;

                    border-top: 2px solid $roarange;

                    @include font( 'Oswald', 3rem, 500 );

                    @include text( $up );

                    @include typo( 2.5rem, 0.000em );

                    @include color( $new_blue, 0.000 );

                }

                // posts
                .author_posts {

                    // heading
                    h3 {

                        margin: 0 0 1rem 0;
                        // padding: 1rem 0 0 0;

                        // border-top: 2px solid $roarange;

                        @include font( 'Oswald', 1.25rem, 500 );

                        @include text( $up );

                        @include color( $roarange );

                    }

                    // list
                    ul {

                        @include flex-h-j-v-t( false );

                        margin: 0 0 0 0;

                        list-style: none;

                        // list item
                        .author_posts_list_item {

                            width: calc( 25% - 1.3333333rem );
                            height: auto;

                            // link
                            .author_post_link {

                                @include flex-h-s-v-t( false );

                                @include color( $new_blue );

                                transition: $all220;

                                // hover state
                                &:hover {

                                    @include color( $roarange );

                                }

                                // common
                                span {

                                    // display: inline-block;

                                }

                                // thumbnail
                                .post_thumbnail {

                                    flex-grow: 1;

                                    width: 6rem;
                                    height: 6rem;
                                    margin: 0 1rem 0 0;

                                    @include fill( white, 0.965 );

                                    background: {

                                        repeat: no-repeat;
                                        size: cover;
                                        position: center center;

                                    }

                                    // @include shadowbox( 1rem, 3rem, black, 0.465 );

                                }

                                // title
                                .post_title {

                                    width: calc( 100% - 7rem );

                                    @include font( $industry, 0.875rem, 600 );

                                }

                            }

                        }

                    }

                }

            }

        }

    }
