// stylesheet :: post navigation styles

    // settings
    $navigation : 1rem;

    // styles
    .pagination {

        @include flex-h-c-v-c( false );

        height: 3rem;
        margin: 0 0 2rem 0;

        // mobile
        @include breakpoint ( medium down ) {

            grid-column: 2;

        }

        // items
        li {

            width: 3rem;
            height: 3rem;
            margin: 0 0 0 0;
            padding: 0 0 0 0;

            // common
            span,
            a {

                @include flex-h-c-v-c( false );

                width: 3rem;
                height: 3rem;
                margin: 0 0 0 0;
                padding: 0 0 0 0;

                transition: $all220;

            }

            // link
            a {

                // hover state
                &:hover {

                    @include color( white );

                    @include fill( $g140 );

                    @include shadowbox( 1rem, 3rem, black, 0.645 );

                }

            }

            // span
            .current {

                padding: 0 0 0 0;

                @include shadowbox( 1rem, 3rem, black, 0.645 );

            }

            // ellipsis
            &.ellipsis {

                // after
                &:after {

                    @include flex-h-c-v-c( false );

                    width: 3rem;
                    height: 3rem;
                    padding: 0 0 0.5rem 0;

                }

            }

        }

    }
