// stylesheet :: post sidebar styles

    // settings
    $sidebar : #284F3E;;

    // container
    .main-container {

        // grid
        .main-grid {

            // sidebar
            .sidebar {

                width: 100%;
                margin: 0 0 0 0;

                // mobile
                @include breakpoint ( small only ) {

                    //

                }

            }

        }

    }
